.App {
  text-align: center;
}

.checkFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:80%;
  margin:0 auto;
  border:1px solid black;
}
.innerclass{
  height: 80px;
  width: 23%;
}
.btn1{
  margin:0 auto;
}

.jokeContainer{
  background-color: #fff;
  color: black;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  border: 1px solid green;
}